@import "../mixin.less";
@import "../variable.less";

.main-contest {
  margin-top: -64px;
}

.main-contest__text-wrapper {
  box-sizing: border-box;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #263441;
  background-position: center;
  background-size: cover;
  padding-top: 93px;
  padding-bottom: 54px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
    background-position-y: -7px;
  }
}

.main-contest__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 300;
  width: 236px;
  color: white;
  margin: 0 auto;
}

.main-contest__text-bonus-wrapper {
  padding-top: 44px;
  padding-bottom: 24px;
}

.main-contest__text-bonus {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  width: 273px;
  margin: 0 auto;
}

.main-contest__text-bonus-invisible {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-contest {
    margin-top: -109px;
  }

  .main-contest__text-wrapper {
    min-width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 179px;
    padding-bottom: 78px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 181%;
      background-position-y: 0;
    }
  }

  .main-contest__text {
    font-size: 50px;
    width: 490px;
    line-height: 60px;
  }

  .main-contest__text-bonus-wrapper {
    padding-top: 90px;
  }

  .main-contest__text-bonus {
    width: 500px;
    font-size: 18px;
  }

  .main-contest__text-bonus-invisible {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .main-contest__text-wrapper {
    box-sizing: border-box;
    height: 394px;
    margin-top: -112px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 173px;
    padding-bottom: 99px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 266%;
      background-position-y: 11px;
      background-position-x: 1758px;
    }
  }

  .main-contest__text {
    font-size: 50px;
    width: 777px;
  }

  .main-contest__text-bonus-wrapper {
    padding-top: 92px;
    padding-bottom: 34px;
  }

  .main-contest__text-bonus {
    width: 756px;
  }

  .main-contest__text-bonus-invisible {
    display: inline;
  }
}
