@import "../variable.less";

.map {
  margin-top: -17px;
}

.map__polygon {
  top: 38px;
  position: relative;
  width: 100%;
  height: 38px;
}

.map__source {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .map {
    margin-top: -61px;
  }

  .map__polygon {
    top: 72px;
    height: 70px;
  }

  .map__source {
    height: 374px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    margin-top: -93px;
  }

  .map__source {
    height: 500px;
  }

  .map__polygon {
    top: 102px;
    height: 100px;
  }
}
