.popup__success {
  display: none;
  position: fixed;
  background-color: white;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.popup__error {
  display: none;
  position: fixed;
  background-color: white;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.show.popup__success {
  display: block;
}

.show-e.popup__error {
  display: block;
}

.active.popup__success {
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

.popup__success-wrapper-text,
.popup__error-wrapper-text {
  margin-left: auto;
  margin-right: auto;
  width: 396px;
}

.popup__success-title,
.popup__error-title {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}

.popup__success-text,
.popup__error-text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #283645;
  margin-bottom: 0;
}

.popup__success-wrapper-button,
.popup__error-wrapper-button {
  background-color: #e5e5e5;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 54px;
  margin-top: 54px;
}

.popup__success-button,
.popup__error-button {
  background-color: #2aab6d;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 22px 155px;
  cursor: pointer;
}
