.advantage-list {
  padding-left: 0;
  margin-top: 120px;
  list-style-type: none;
}
.advantage-list__item {
  width: 265px;
  margin-left: 30px;
  text-align: center;
}
.advantage-list__item-title {
  font-weight: 18px;
  line-height: 24px;
}
.advantage-list__item-text {
  font-weight: 14px;
  line-height: 24px;
}
@media (min-width: 660px) {
  .advantage-list {
    padding-left: 290px;
  }
  .advantage-list__item {
    text-align: start;
  }
  .advantage-list__item:first-child {
    width: 294px;
  }
  .advantage-list__item:nth-child(2) {
    width: 309px;
    word-spacing: 2px;
  }
  .advantage-list__item:last-child {
    width: 307px;
  }
}
@media (min-width: 1200px) {
  .advantage-list {
    display: flex;
    width: 885px;
    justify-content: space-between;
    padding-left: 150px;
  }
  .advantage-list__item {
    text-align: center;
  }
}
