.advantage {
  background-color: #f2f2f2;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
}
.advatage__title-question,
.advantage__title-offer {
  color: #283645;
  font-size: 24px;
  text-align: center;
  margin-top: 46px;
}
.advantage-list {
  padding-left: 0;
  margin-top: 120px;
  list-style-type: none;
}
.advantage-list__item {
  width: 265px;
  margin-left: 30px;
  text-align: center;
}
.advantage__app-screen {
  margin-left: 82px;
}
