@import "variable.less";

.advantage-list {
  padding-left: 0;
  margin-top: 120px;
  list-style-type: none;
}

.advantage-list__item {
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.advantage-list__item-title {
  font-weight: 18px;
  line-height: 24px;
}

.advantage-list__item-text {
  font-weight: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {

  .advantage-list__item {
    text-align: start;
    margin-left: 44.5%;
    &:first-child {
      width: 294px;
    }

    &:nth-child(2) {
      width: 309px;
      word-spacing: 2px;
    }

    &:last-child {
      width: 307px;
    }
  }
}


@media (min-width: @desktop-width) {
  .advantage-list {
    display: flex;
    width: 885px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .advantage-list__item {
    text-align: center;
    margin-left: 0;
  }
}
