.advantage {
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}
.advatage__title-question,
.advantage__title-offer {
  color: #283645;
  font-size: 24px;
  text-align: center;
  margin-top: 46px;
}
.advantage__app-screen-mobile {
  margin-left: 82px;
}
.advantage__app-screen-tablet {
  display: none;
}
.advantage__research-container {
  display: none;
}
@media (min-width: 660px) {
  .advatage__title-question {
    padding-top: 53px;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
  }
  .advantage__title-offer {
    margin-top: 0;
    font-size: 40px;
    font-weight: 300;
    width: 345px;
    text-align: center;
    margin-left: 165px;
  }
  .advantage__app-screen-tablet {
    display: inline-block;
    margin-left: 20px;
    margin-top: -385px;
  }
  .advantage__app-screen-mobile {
    display: none;
  }
  .advantage__research-container {
    display: block;
    background-color: #ffffff;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .advantage__research-wrapper {
    width: 302px;
    word-spacing: 2px;
    height: 202px;
    padding-left: 350px;
    padding-top: 100px;
    padding-bottom: 83px;
  }
  .advantage__research-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }
  .advantage__research-text {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }
  .advantage__research-link {
    color: #d22856;
  }
  .advantage__research-time {
    position: absolute;
    left: 33px;
    top: 1785px;
    color: #d22856;
    padding: 23px 46px 28px 46px;
    font-size: 96px;
    font-weight: bold;
    line-height: 145.5px;
    border: 15px solid #d22856;
    border-radius: 50%;
  }
}
