@import "variable.less";

.advantage {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    z-index: -1;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
  }
}

.advantage__title-question,
.advantage__title-offer {
  color: #283645;
  font-size: 24px;
  text-align: center;
  margin-top: 46px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}

.advantage__title-offer {
  margin-top: 38px;
}

.advantage__app-screen-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantage__app-screen-tablet {
  display: none;
}

.advantage__research-container {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantage__title-question {
    padding-top: 53px;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
  }

  .advantage__title-question {
    width: 608px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
  }

  .advantage__title-offer {
    margin-top: -6px;
    font-size: 40px;
    font-weight: 300;
    width: 345px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .advantage__app-screen-tablet {
    display: inline-block;
    margin-left: 20px;
    margin-top: -385px;
  }

  .advantage__app-screen-mobile {
    display: none;
  }

  .advantage__research-container{
    display: block;
    background-color: #ffffff;
  }

  .advantage__research-wrapper-container {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .advantage__research-wrapper {
    width: 302px;
    word-spacing: 2px;
    height: 202px;
    padding-top: 98px;
    padding-bottom: 83px;
    margin-left: 45.7%;
  }

  .advantage__research-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-top: 0px;
  }

  .advantage__research-text {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .advantage__research-link {
    color: #d22856;
  }

  .advantage__research-time {
    position: absolute;
    left: 33px;
    top: 81px;
    color: #d22856;
    padding: 23px 46px 28px 46px;
    font-size: 96px;
    font-weight: bold;
    line-height: 145.5px;
    border: 15px solid #d22856;
    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .advantage {
    min-width: @desktop-width;
  }

  .advantage__title-offer {
    margin-left: auto;
    margin-right: auto;
  }

  .advantage__app-screen-tablet {
    display: none;
  }

  .advantage__research-container {
    background-color: inherit;
  }

  .advantage__research-wrapper {
    width: 440px;
  }

  .advantage__research-title {
    line-height: 30px;
  }

  .advantage__research-text {
    font-size: 18px;
    line-height: 30px;
  }

  .advantage__research-link {
    font-size: 18px;
    text-decoration: underline;
  }
}
