@import "variable.less";

.download {
  background-color: @main-color;
}

.download__title-container {
  height: 395px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom left, center;
  background-size: auto, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 255px 286px, cover;
  }
}

.download__link-wrapper {
  width: 278px;
  margin-left: auto;
  margin-right: auto;
}

.download__link {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid @text-color;
  border-radius: 50px;
  margin-top: 28px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 17px;
}

.download__title {
  color: @text-color;
  font-size: 24px;
  font-weight: 300;
  width: 235px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  text-transform: initial;
  margin-top: -15px;
}

.download__img {
  margin-top: 6px;
}

.download__list {
  width: 210px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.download__text {
  color: @text-color;
  width: 240px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 37px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .download {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .download__title-container {
    width: 660px;
    height: 620px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position-x: -50px;
    background-size: unset;
    margin-left: auto;
    margin-right: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 107%;
    }
  }

  .download__title {
    width: 195px;
    font-size: 40px;
    padding-left: 78px;
    padding-top: 100px;
    margin-top: -15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .download__list {
    width: 218px;
    margin-left: 40px;
    margin-top: 60px;
  }

  .download__link-container {
    position: relative;
    width: @tablet-width;
    margin-top: -355px;
    margin-left: auto;
    margin-right: auto;
  }

  .download__link-wrapper {
    width: 300px;
    margin-left: 20px;
  }

  .download__text {
    margin-right: 0;
    margin-left: 22px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    height: 743px;
    margin-top: -112px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .download__title-container {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position-x: center;
    background-position-y: 212px;
    background-size: 90%;
    width: @desktop-width;
    height: 855px;
    margin-left: auto;
    margin-right: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .download__link-container {
    position: relative;
    bottom: 97px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .download__title {
    padding-top: 217px;
    padding-left: 37px;
    margin-top: 0;
  }

  .download__title-wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
