@import "variable.less";

.download {
  background-color: @main-color;
}

.download__title-container {
  height: 395px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom left, 0;
}

.download__title {
  color: @text-color;
  font-size: 24px;
  font-weight: 300;
  width: 235px;
  text-align: center;
  margin-left: 50px;
  padding-top: 15px;
  text-transform: initial;
  margin-top: -15px;
}

.download__img {
  margin-top: 6px;
}

.download__link {
  display: inline-block;
  font-size: 18px;
  border: 2px solid @text-color;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 10px;
  margin-left: 30px;
}

.download__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
}

.download__text {
  color: @text-color;
  width: 240px;
  margin-left: 45px;
  text-align: center;
  padding-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .download__title-container {
    height: 620px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
  }
  .download__title {
    width: 195px;
    font-size: 40px;
    padding-left: 78px;
    padding-top: 100px;
    margin-top: -15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .download__list {
    width: 218px;
    margin-left: 40px;
  }
  .download__link-container {
    position: relative;
    margin-top: -350px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    height: 743px;
  }
  .download__title-container {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position-x: 100px, 0;
    width: @desktop-width;
    height: 743px;
  }
  .download__link-container {
    margin-left: 100px;
  }
  .download__title {
    padding-top: 100px;
    padding-left: 165px;
  }
}


