.feed__text {
  width: 245px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding-left: 40px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0;
}
@media (min-width: 660px) {
  .feed__text {
    width: 440px;
    font-size: 18px;
    padding-left: 110px;
  }
}
