@import "variable.less";

.feed__text {
  width: 245px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding-left: 40px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .feed__text {
    width: 440px;
    font-size: 18px;
    padding-left: 110px;
  }
}

@media (min-width: @desktop-width) {
  .feed__call {
    width: 1200px;
  }

  .feed__text {
    width: 571px;
    padding-left: 318px;
  }

  .feed__wrapper {
    width: 950px;
    margin-left: 132px;
  }
}
