.feed-item__wrapper {
  position: relative;
  left: 20px;
  bottom: 4px;
  background-color: #f2f2f2;
  width: 280px;
}

.feed-item__author {
  display: inline-block;
  padding-left: 17px;
  padding-top: 25px;
}

.feed-item__last-time {
  font-size: 12px;
  font-weight: 300;
  color: #283645;
}

.feed-item__review-text {
  padding-left: 17px;
  width: 250px;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
  margin-top: -2px;
}

.feed-item__likes-wrapper {
  display: flex;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 30px;
  padding-top: 23px;
  padding-bottom: 28px;
}

.feed-item__likes {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  padding-left: 50px;
}

.feed-item__img {
  margin-top: 20px;
  width: 280px;
  position: relative;
  left: 20px;
}
