@import "variable.less";

.price {
  background-color: #f2f2f2;
}

.price__table-standart {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.price__name {
  height: 98px;
  background-color: #283645;
}

.price__plan {
  color: white;
  font-weight: bold;
  line-height: 30px;
  font-size: 18px;
}

.price__value {
  color: white;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.price__option {
  height: 59px;
  background-color: white;
  padding-left: 22px;
}
