.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  height: 65px;
  color: white;
  background-color: #283645;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
.site-list__link {
  color: white;
  text-decoration: none;
}
