.header {
  background-color: #283645;
}
.slogan {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  height: 395px;
}
.slogan__title {
  color: white;
  font-size: 24px;
  font-weight: 300;
  width: 235px;
  text-align: center;
  margin-left: 50px;
  padding-top: 15px;
  text-transform: initial;
  margin-top: -15px;
}
.slogan__img {
  margin-top: 6px;
}
.download {
  background-color: #283645;
}
.download__link {
  display: inline-block;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 10px;
  margin-left: 30px;
}
.download__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
}
.download__text {
  color: white;
  width: 240px;
  margin-left: 45px;
  text-align: center;
  padding-bottom: 37px;
}
.advantage {
  background-color: #f2f2f2;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
}
.advatage__title-question,
.advantage__title-offer {
  color: #283645;
  font-size: 24px;
  text-align: center;
  margin-top: 46px;
}
.advantage__app-screen {
  margin-left: 82px;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 65px;
  color: white;
  background-color: #283645;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
.site-list__link {
  color: white;
  text-decoration: none;
}
.main-header {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 35px;
  margin-top: -14px;
  color: white;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  min-width: 320px;
  min-height: 145px;
  background-position-y: -60px;
  margin-bottom: 0;
}
.photo-main__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 35px;
  margin-top: -14px;
  color: white;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  min-width: 320px;
  min-height: 145px;
  background-position-y: -60px;
  margin-bottom: 0;
}
.feed__call {
  outline: plum 1px solid;
}
.feed__text {
  width: 245px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding-left: 40px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0;
}
.feed-item__wrapper {
  position: relative;
  left: 20px;
  bottom: 4px;
  background-color: #f2f2f2;
  width: 280px;
}
.feed-item__author {
  display: inline-block;
  padding-left: 17px;
  padding-top: 25px;
}
.feed-item__last-time {
  font-size: 12px;
  font-weight: 300;
  color: #283645;
}
.feed-item__review-text {
  padding-left: 17px;
  width: 250px;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
  margin-top: -2px;
}
.feed-item__likes-wrapper {
  display: flex;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 30px;
  padding-top: 23px;
  padding-bottom: 28px;
}
.feed-item__likes {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  padding-left: 50px;
}
.feed-item__img {
  margin-top: 20px;
  width: 280px;
  position: relative;
  left: 20px;
}
.footer {
  text-align: center;
}
.footer__social-list {
  width: 190px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.footer__social-item {
  padding: 13px 10px 5px 10px;
  border: 2px solid #e9ebec;
  border-radius: 25px;
}
.footer__social-item:nth-of-type(2) {
  padding-left: 14px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.footer__social-item:nth-of-type(3) {
  padding-left: 14px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 5px;
}
.footer__social-text {
  margin-right: 50px;
}
.footer__social-img-logo {
  position: relative;
  top: 10px;
  right: 45px;
}
.main-contest__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 35px;
  margin-top: -14px;
  color: white;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  min-width: 320px;
  min-height: 145px;
  background-position-y: -60px;
  margin-bottom: 0;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/opensans.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/opensansbold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/opensanslight.woff);
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 320px;
  background-color: white;
}
a {
  color: white;
  text-decoration: none;
}
